[Unit]
Description=JIMS Webserver
After=network.target

[Service]
type=Simple
ExecStart=/opt/jims/sensor-daemon/venv/bin/python sensor-daemon/sensor_daemon.py /opt/jims/data/db.sqlite
WorkingDirectory=/opt/jims/
Restart=on-failure
User=jay

[Install]
WantedBy=multi-user.target
