[Unit]
Description=JIMS Stats Daemon
After=network.target

[Service]
type=Simple
ExecStart=/opt/jims/stats-daemon /opt/jims/data/db.sqlite
WorkingDirectory=/opt/jims
Restart=on-failure
User=jay

[Install]
WantedBy=multi-user.target